.span-text {
  font-weight: 300;
}

.country-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.detail-text-div-1 {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  display: grid;
  justify-items: start;
  align-items: center;
  justify-content: start;
  grid-gap: 10px;
}

.detail-text-div-2 {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  display: grid;
  justify-items: start;
  align-items: center;
  justify-content: start;
  grid-gap: 10px;
}